In [2]:
import requests
import os
import zipfile
from urllib.request import urlopen
from bs4 import BeautifulSoup
from zipfile import ZipFile
from io import BytesIO
import shutil
import pandas as pd
import urllib.request
from lxml import html
import gzip
import io

In [7]:
url = 'https://www.wunderground.com/history/airport/HOU/2016/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2016&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo='
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page,"lxml")
table = soup.find("table", { "id" : "obsTable"})
column_headers = ['month','high','avg','low','high','avg','low','high','avg','low','high','avg','low','high','avg','low','high','avg','high','Precip','Events']
player_data_02 = []  # create an empty list to hold all the data
data_rows = table.findAll('tr')
for i in range(len(data_rows)):  # for each table row
    player_row = []  # create an empty list for each pick/player

    # for each table data element from each table row
    for td in data_rows[i].findAll('td'):

        # get the text content and append to the row 
        td_text=td.get_text().replace("\n"," ")
        td_text_two=td_text.replace("\t"," ")
        player_row.append(td_text_two)        

    # then append each 
    player_data_02.append(player_row)
df = pd.DataFrame(player_data_02,columns=column_headers)
df2 = df.iloc[1:]
df2.columns = ['date', 'high', 'Temp', 'low', 'high', 'Dew_Point', 'low', 'high', 'Humidity%',
   'low', 'high', 'Sea_Level_Press', 'low', 'high', 'Visibility', 'low', 'high', 'Wind',
   'high', 'Precip', 'Events']
df3 = df2[['date','Temp','Dew_Point','Humidity%','Sea_Level_Press','Visibility','Wind' ,'Precip']]
df3.columns = ['day','Temp','Dew_Point','Humidity%','Sea_Level_Press','Visibility','Wind' ,'Precip']
df3.insert(0, 'month','')
for index, row in df3.iterrows():
    if row['day'] =='Feb':
        break
    else:
        row['month'] = 1
for index, row in df3.iterrows():
    if row['day'] =='Mar':
        break
    elif row['month'] != 1:
        row['month'] = 2
for index, row in df3.iterrows():
    if row['day'] =='Apr':
        break
    elif row['month'] != 1 and row['month'] != 2:
        row['month'] = 3
for index, row in df3.iterrows():
    if row['day'] =='May':
        break
    elif row['month'] != 1 and row['month'] != 2 and row['month'] != 3:
        row['month'] = 4
for index, row in df3.iterrows():
    if row['day'] =='Jun':
        break
    elif row['month'] != 1 and row['month'] != 2 and row['month'] != 3 and row['month'] != 4:
        row['month'] = 5
for index, row in df3.iterrows():
    if row['day'] =='Jul':
        break
    elif row['month'] != 1 and row['month'] != 2 and row['month'] != 3 and row['month'] != 4 and row['month'] != 5:
        row['month'] = 6
for index, row in df3.iterrows():
    if row['day'] =='Aug':
        break
    elif row['month'] != 1 and row['month'] != 2 and row['month'] != 3 and row['month'] != 4 and row['month'] != 5 and row['month'] != 6:
        row['month'] = 7
for index, row in df3.iterrows():
    if row['day'] =='Sep':
        break
    elif row['month'] != 1 and row['month'] != 2 and row['month'] != 3 and row['month'] != 4 and row['month'] != 5 and row['month'] != 6 and row['month'] != 7:
        row['month'] = 8
for index, row in df3.iterrows():
    if row['day'] =='Oct':
        break
    elif row['month'] != 1 and row['month'] != 2 and row['month'] != 3 and row['month'] != 4 and row['month'] != 5 and row['month'] != 6 and row['month'] != 7 and row['month'] != 8:
        row['month'] = 9
for index, row in df3.iterrows():
    if row['day'] =='Nov':
        break
    elif row['month'] != 1 and row['month'] != 2 and row['month'] != 3 and row['month'] != 4 and row['month'] != 5 and row['month'] != 6 and row['month'] != 7 and row['month'] != 8 and row['month'] != 9:
        row['month'] = 10
for index, row in df3.iterrows():
    if row['day'] =='Dec':
        break
    elif row['month'] != 1 and row['month'] != 2 and row['month'] != 3 and row['month'] != 4 and row['month'] != 5 and row['month'] != 6 and row['month'] != 7 and row['month'] != 8 and row['month'] != 9 and row['month'] != 10:
        row['month'] = 11
for index, row in df3.iterrows():
    if row['day'] =='Jan':
        break
    elif row['month'] != 1 and row['month'] != 2 and row['month'] != 3 and row['month'] != 4 and row['month'] != 5 and row['month'] != 6 and row['month'] != 7 and row['month'] != 8 and row['month'] != 9 and row['month'] != 10 and row['month'] != 11:
        row['month'] = 12  

#2017 data denver
jan_df = df3.loc[df3['month'] == 1]
jan_df = jan_df.iloc[1:-1]
no_invalid = jan_df[jan_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
jan_df.Precip = jan_df.Precip.replace({'   - ':mode})
jan_df.Precip = jan_df.Precip.replace({' T ':0})
jan_df.Precip = jan_df.Precip.replace({'avg':jan_df.Precip.mode()[0]})
jan_df.Visibility = jan_df.Visibility.replace({'   - ':jan_df.Visibility.mode()[0]})
jan_df.Wind = jan_df.Wind.replace({'   - ':jan_df.Visibility.mode()[0]})

feb_df = df3.loc[df3['month'] == 2]
feb_df = feb_df.iloc[1:-1]
no_invalid = feb_df[feb_df.Precip != '   - ']
mode = no_invalid.Precip.mode()[0]
feb_df.Precip = feb_df.Precip.replace({'   - ':mode})
feb_df.Precip = feb_df.Precip.replace({' T ':0})
feb_df.Precip = feb_df.Precip.replace({'None':mode})
feb_df.Precip = feb_df.Precip.replace({'avg':mode})
feb_df.Visibility = feb_df.Visibility.replace({'   - ':feb_df.Visibility.mode()[0]})
feb_df.Wind = feb_df.Wind.replace({'   - ':feb_df.Visibility.mode()[0]})

mar_df = df3.loc[df3['month'] == 3]
mar_df = mar_df.iloc[1:-1]
no_invalid = mar_df[mar_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
mar_df.Precip = mar_df.Precip.replace({'   - ':mode})
mar_df.Precip = mar_df.Precip.replace({' T ':0})
mar_df.Precip = mar_df.Precip.replace({'None':mode})
mar_df.Precip = mar_df.Precip.replace({'avg':mode})
mar_df.Visibility = mar_df.Visibility.replace({'   - ':mar_df.Visibility.mode()[0]})
mar_df.Wind = mar_df.Wind.replace({'   - ':mar_df.Visibility.mode()[0]})

apr_df = df3.loc[df3['month'] == 4]
apr_df = apr_df.iloc[1:-1]
no_invalid = apr_df[apr_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
apr_df.Precip = apr_df.Precip.replace({'   - ':mode})
apr_df.Precip = apr_df.Precip.replace({' T ':0})
apr_df.Precip = apr_df.Precip.replace({'None':mode})
apr_df.Precip = apr_df.Precip.replace({'avg':mode})
apr_df.Visibility = apr_df.Visibility.replace({'   - ':apr_df.Visibility.mode()[0]})
apr_df.Wind = apr_df.Wind.replace({'   - ':apr_df.Visibility.mode()[0]})

may_df = df3.loc[df3['month'] == 5]
may_df = may_df.iloc[1:-1]
no_invalid = may_df[may_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
may_df.Precip = may_df.Precip.replace({'   - ':mode})
may_df.Precip = may_df.Precip.replace({' T ':0})
may_df.Precip = may_df.Precip.replace({'None':mode})
may_df.Precip = may_df.Precip.replace({'avg':mode})
may_df.Visibility = may_df.Visibility.replace({'   - ':may_df.Visibility.mode()[0]})
may_df.Wind = may_df.Wind.replace({'   - ':may_df.Visibility.mode()[0]})

jun_df = df3.loc[df3['month'] == 6]
jun_df = jun_df.iloc[1:-1]
no_invalid = jun_df[jun_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
jun_df.Precip = jun_df.Precip.replace({'   - ':mode})
jun_df.Precip = jun_df.Precip.replace({' T ':0})
jun_df.Precip = jun_df.Precip.replace({'None':mode})
jun_df.Precip = jun_df.Precip.replace({'avg':mode})
jun_df.Visibility = jun_df.Visibility.replace({'   - ':jun_df.Visibility.mode()[0]})
jun_df.Wind = jun_df.Wind.replace({'   - ':jun_df.Visibility.mode()[0]})

jul_df = df3.loc[df3['month'] == 7]
jul_df = jul_df.iloc[1:-1]
no_invalid = jul_df[jul_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
jul_df.Precip = jul_df.Precip.replace({'   - ':mode})
jul_df.Precip = jul_df.Precip.replace({' T ':0})
jul_df.Precip = jul_df.Precip.replace({'None':mode})
jul_df.Precip = jul_df.Precip.replace({'avg':mode})
jul_df.Visibility = jul_df.Visibility.replace({'   - ':jul_df.Visibility.mode()[0]})
jul_df.Wind = jul_df.Wind.replace({'   - ':jul_df.Visibility.mode()[0]})

aug_df = df3.loc[df3['month'] == 8]
aug_df = aug_df.iloc[1:-1]
no_invalid = aug_df[aug_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
aug_df.Precip = aug_df.Precip.replace({'   - ':mode})
aug_df.Precip = aug_df.Precip.replace({' T ':0})
aug_df.Precip = aug_df.Precip.replace({'None':mode})
aug_df.Precip = aug_df.Precip.replace({'avg':mode})
aug_df.Visibility = aug_df.Visibility.replace({'   - ':aug_df.Visibility.mode()[0]})
aug_df.Wind = aug_df.Wind.replace({'   - ':aug_df.Visibility.mode()[0]})

sep_df = df3.loc[df3['month'] == 9]
sep_df = sep_df.iloc[1:-1]
no_invalid = sep_df[sep_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
sep_df.Precip = sep_df.Precip.replace({'   - ':mode})
sep_df.Precip = sep_df.Precip.replace({' T ':0})
sep_df.Precip = sep_df.Precip.replace({'None':mode})
sep_df.Precip = sep_df.Precip.replace({'avg':mode})
sep_df.Visibility = sep_df.Visibility.replace({'   - ':sep_df.Visibility.mode()[0]})
sep_df.Wind = sep_df.Wind.replace({'   - ':sep_df.Visibility.mode()[0]})

oct_df = df3.loc[df3['month'] == 10]
oct_df = oct_df.iloc[1:-1]
no_invalid = oct_df[oct_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
oct_df.Precip = oct_df.Precip.replace({'   - ':mode})
oct_df.Precip = oct_df.Precip.replace({' T ':0})
oct_df.Precip = oct_df.Precip.replace({'None':mode})
oct_df.Precip = oct_df.Precip.replace({'avg':mode})
oct_df.Visibility = oct_df.Visibility.replace({'   - ':oct_df.Visibility.mode()[0]})
oct_df.Wind = oct_df.Wind.replace({'   - ':oct_df.Visibility.mode()[0]})

nov_df = df3.loc[df3['month'] == 11]
nov_df = nov_df.iloc[1:-1]
no_invalid = nov_df[nov_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
nov_df.Precip = nov_df.Precip.replace({'   - ':mode})
nov_df.Precip = nov_df.Precip.replace({'T':0})
nov_df.Precip = nov_df.Precip.replace({'None':mode})
nov_df.Precip = nov_df.Precip.replace({'avg':mode})
nov_df.Visibility = nov_df.Visibility.replace({'   - ':nov_df.Visibility.mode()[0]})
nov_df.Wind = nov_df.Wind.replace({'   - ':nov_df.Visibility.mode()[0]})

dec_df = df3.loc[df3['month'] == 12]
dec_df = oct_df.iloc[1:-1]
no_invalid = dec_df[dec_df.Precip != '   - ']
no_invalid = no_invalid[no_invalid.Precip != 'None']
no_invalid = no_invalid[no_invalid.Precip != 'avg']
mode = no_invalid.Precip.mode()[0]
dec_df.Precip = dec_df.Precip.replace({'   - ':mode})
dec_df.Precip = dec_df.Precip.replace({' T ':0})
dec_df.Precip = dec_df.Precip.replace({'None':mode})
dec_df.Precip = dec_df.Precip.replace({'avg':mode})
dec_df.Visibility = dec_df.Visibility.replace({'   - ':dec_df.Visibility.mode()[0]})
dec_df.Wind = dec_df.Wind.replace({'   - ':dec_df.Visibility.mode()[0]})

df2016 = pd.concat([jan_df, feb_df, mar_df, apr_df, may_df, jun_df, jul_df, aug_df, sep_df, oct_df, nov_df, dec_df], ignore_index=True)
df2016 = df2016[['month','day','Visibility','Wind','Precip']]
df2016[['month','day','Visibility','Wind']] = df2016[['month','day','Visibility','Wind']].astype(int)
df2016[['Precip']] = df2016[['Precip']].astype(float)
df2016.insert(0, 'station',station_name)
df2016.insert(1, 'year',2016)
directory = os.path.dirname(os.getcwd()) 
#newpath = directory+'/weatherdata2016'
#if not os.path.exists(newpath):
#    os.makedirs(newpath)
#df2016.to_csv(newpath+"/"+station_name+"2016.csv",index=False)

C:\Users\madhu\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

NameError: name 'station_name' is not defined

In [6]:
dec_df

,month,day,Temp,Dew_Point,Humidity%,Sea_Level_Press,Visibility,Wind,Precip
295,10,2,54,49,86,29.92,8,11,0.08
296,10,3,54,49,84,30.32,7,7,0.00
297,10,4,52,49,86,30.44,5,7,0.00
298,10,5,50,40,69,30.41,8,10,0.00
299,10,6,46,39,72,30.25,8,9,0.00
300,10,7,50,46,82,30.15,6,8,0.00
301,10,8,51,44,78,30.23,6,6,0.00
302,10,9,45,37,77,30.29,6,2,0.00
303,10,10,46,41,81,30.23,5,3,0.00
304,10,11,44,39,82,30.17,4,4,0.00
305,10,12,43,43,91,30.10,4,3,0.04
306,10,13,46,40,76,29.92,8,10,0.00
307,10,14,50,44,80,29.70,7,7,0.04
308,10,15,54,49,84,29.81,5,7,0.00
309,10,16,58,49,70,30.04,8,8,0.00
310,10,17,55,51,87,30.14,7,5,0.00
311,10,18,50,48,89,30.15,6,9,0.08
312,10,19,49,46,86,30.05,7,11,0.47
313,10,20,50,47,91,30.00,5,6,0.16
314,10,21,46,42,87,30.03,2,3,0.00
315,10,22,48,44,92,29.96,3,4,0.00
316,10,23,42,41,94,29.89,2,5,0.01
317,10,24,46,46,92,29.88,2,5,0.00
318,10,25,46,44,89,30.20,1,3,0.00
319,10,26,45,41,89,30.39,1,2,0.00
320,10,27,50,50,93,30.51,3,7,0.00
321,10,28,54,49,87,30.54,6,7,0.00
322,10,29,56,-,-,30.57,8,5,0.00
323,10,30,56,-,-,30.57,8,5,0.00

In [440]:
url = 'https://www.wunderground.com/history/airport/PHL/2016/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2016&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo='
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page,"lxml")
table = soup.find("table", { "id" : "obsTable"})
column_headers = ['month','high','avg','low','high','avg','low','high','avg','low','high','avg','low','high','avg','low','high','avg','high','Precip','Events']
player_data_02 = []  # create an empty list to hold all the data
data_rows = table.findAll('tr')
for i in range(len(data_rows)):  # for each table row
    player_row = []  # create an empty list for each pick/player

    # for each table data element from each table row
    for td in data_rows[i].findAll('td'):
        
        # get the text content and append to the row 
        td_text=td.get_text().replace("\n"," ")
        td_text_two=td_text.replace("\t"," ")
        player_row.append(td_text_two)        

    # then append each 
    player_data_02.append(player_row)

In [441]:
df = pd.DataFrame(player_data_02,columns=column_headers)

In [442]:
df2 = df.iloc[1:]

In [443]:
df2.columns = ['date', 'high', 'Temp', 'low', 'high', 'Dew_Point', 'low', 'high', 'Humidity%',
       'low', 'high', 'Sea_Level_Press', 'low', 'high', 'Visibility', 'low', 'high', 'Wind',
       'high', 'Precip', 'Events']

In [444]:
df3 = df2[['date','Temp','Dew_Point','Humidity%','Sea_Level_Press','Visibility','Wind' ,'Precip']]

In [445]:
df3.columns = ['day','Temp','Dew_Point','Humidity%','Sea_Level_Press','Visibility','Wind' ,'Precip']

In [446]:
df3.insert(0, 'month','')

In [447]:
df3.isnull().sum()

month               0
day                11
Temp               11
Dew_Point          11
Humidity%          11
Sea_Level_Press    11
Visibility         11
Wind               11
Precip             11
dtype: int64

In [185]:
df3

,month,day,Temp,Dew_Point,Humidity%,Sea_Level_Press,Visibility,Wind,Precip
1,,Jan,avg,avg,avg,avg,avg,avg,sum
2,,1,92,73,53,29.85,4,2,0.00
3,,2,83,67,49,29.92,4,2,0.00
4,,3,81,66,53,29.92,4,1,0.00
5,,4,80,64,53,29.88,4,1,0.00
6,,5,82,68,54,29.88,5,1,0.00
7,,6,82,54,32,29.93,4,3,0.00
8,,7,78,52,30,29.92,4,9,0.00
9,,8,82,59,43,29.92,4,1,0.00
10,,9,87,73,66,29.97,4,3,0.00
11,,10,80,73,75,29.92,4,1,0.00
12,,11,84,75,62,29.89,4,1,0.00
13,,12,86,75,71,29.86,10,1,0.00
14,,13,84,76,77,29.89,14,2,0.00
15,,14,87,74,64,29.84,12,1,0.00
16,,15,81,76,73,29.88,12,1,0.00
17,,16,88,74,59,29.86,14,1,0.00
18,,17,79,76,82,29.92,14,1,0.00
19,,18,86,74,71,29.87,12,2,0.00
20,,19,81,74,74,29.91,13,1,0.00
21,,20,82,75,81,29.88,14,1,0.43
22,,21,82,75,69,29.87,15,1,0.00
23,,22,84,73,60,29.86,14,0,0.00
24,,23,84,72,62,29.91,14,2,0.00
25,,24,83,73,71,29.99,13,1,0.00
26,,25,80,70,72,29.98,13,1,0.00
27,,26,78,66,58,30.01,7,2,0.00
28,,27,80,66,60,29.96,3,2,0.00
29,,28,70,62,56,29.92,3,1,0.00
30,,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
337,,19,84,76,75,29.83,13,3,0.00
338,,20,88,76,66,29.81,13,4,0.00
339,,21,81,76,83,29.86,12,2,0.00
340,,22,74,76,81,29.84,9,1,0.00
341,,23,84,76,85,29.91,10,2,0.43
342,,24,83,75,86,29.91,10,2,0.24
343,,25,82,75,88,29.87,9,2,0.00
344,,26,86,76,84,29.83,10,4,0.00
345,,27,83,76,82,29.85,12,2,0.79
346,,28,74,72,95,29.86,7,2,0.00
347,,None,None,None,None,None,None,None,None
348,,Dec,avg,avg,avg,avg,avg,avg,sum
349,,10,90,75,65,29.85,14,2,0.00
350,,11,82,75,78,29.87,11,2,0.00
351,,12,75,74,76,29.88,16,2,0.00
352,,17,-,-,-,-,-,-,0.00
353,,18,80,74,83,29.86,12,2,0.00
354,,19,82,75,77,29.85,13,1,0.00
355,,20,81,78,76,29.82,11,2,0.00
356,,21,82,77,72,29.78,13,2,0.00
357,,22,84,78,78,29.83,14,2,0.00
358,,23,78,77,89,29.84,10,2,0.00
359,,24,84,79,82,29.84,10,6,0.00
360,,25,-,78,57,29.75,16,4,0.00
361,,26,76,76,83,29.85,9,4,0.00
362,,27,80,69,62,29.89,5,3,0.00
363,,28,80,70,69,29.90,4,2,0.00
364,,29,74,70,72,29.89,4,3,0.00
365,,30,80,73,77,29.92,4,2,0.00
366,,31,84,72,65,29.88,5,3,0.00

In [264]:
#Weather Data 2016
#jan_df = df3.iloc[0:30,:9]
#feb_df = df3.iloc[30:57,:9]
#mar_df = df3.iloc[57:90,:9]
#apr_df = df3.iloc[90:122,:9]
#may_df = df3.iloc[122:155,:9]
#jun_df = df3.iloc[155:187,:9]
#jul_df = df3.iloc[187:220,:9]
#aug_df = df3.iloc[220:253,:9]
#sep_df = df3.iloc[253:285,:9]
#oct_df = df3.iloc[285:317,:9]
#nov_df = df3.iloc[317:347,:9]
#dec_df = df3.iloc[347:366,:9]

In [437]:
#Weather Data 2016 opt 2
jan_df = df3.iloc[0:33,:9]
feb_df = df3.iloc[33:60,:9]
mar_df = df3.iloc[60:93,:9]
apr_df = df3.iloc[93:125,:9]
may_df = df3.iloc[125:158,:9]
jun_df = df3.iloc[158:190,:9]
jul_df = df3.iloc[190:223,:9]
aug_df = df3.iloc[223:256,:9]
sep_df = df3.iloc[256:288,:9]
oct_df = df3.iloc[288:321,:9]
nov_df = df3.iloc[321:353,:9]
dec_df = df3.iloc[353:385,:9]

In [439]:
mar_df
#jun_df
#jul_df
#aug_df
#sep_df
#oct_df
#nov_df
#dec_df

,month,day,Temp,Dew_Point,Humidity%,Sea_Level_Press,Visibility,Wind,Precip
61,,27,37,30,63,29.94,14,4,0.00
62,,28,42,38,81,29.96,4,5,0.00
63,,29,44,42,91,29.86,3,5,0.24
64,,None,None,None,None,None,None,None,None
65,,Mar,avg,avg,avg,avg,avg,avg,sum
66,,1,44,35,68,29.90,14,4,0.00
67,,2,40,35,75,29.82,13,4,0.00
68,,3,39,36,82,29.57,8,8,0.08
69,,4,42,30,56,29.64,15,15,0.00
70,,5,43,34,59,29.58,11,10,0.00
71,,6,46,37,66,29.56,13,6,0.02
72,,7,38,34,81,29.67,7,9,0.16
73,,8,40,35,76,29.87,14,4,0.00
74,,9,40,32,68,29.96,10,4,0.00
75,,10,42,35,66,29.90,12,7,0.00
76,,11,44,37,65,30.08,9,15,0.00
77,,12,44,36,65,30.23,12,13,0.01
78,,13,43,36,75,30.30,10,13,0.02
79,,14,42,29,51,30.34,13,12,0.00
80,,15,38,31,70,30.14,10,7,0.04
81,,16,39,35,80,30.36,6,6,0.02
82,,17,44,35,67,30.36,9,3,0.00
83,,18,42,34,68,30.06,10,3,0.00
84,,19,44,35,61,30.05,9,7,0.00
85,,20,45,36,60,30.01,9,3,0.00
86,,21,45,35,58,29.99,10,6,0.00
87,,22,46,35,57,29.87,14,3,0.00
88,,23,44,32,54,29.70,13,7,0.00
89,,24,44,32,52,29.82,9,10,0.01
90,,25,42,32,56,30.01,13,4,0.00
91,,26,46,37,64,30.08,5,5,0.00
92,,27,44,35,58,30.02,13,4,0.00
93,,28,47,39,66,29.89,12,4,0.00

In [467]:
url = 'https://www.wunderground.com/history/airport/PHL/2016/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2016&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo='
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page,"lxml")
table = soup.find("table", { "id" : "obsTable"})
column_headers = ['month','high','avg','low','high','avg','low','high','avg','low','high','avg','low','high','avg','low','high','avg','high','Precip','Events']
player_data_02 = []  # create an empty list to hold all the data
data_rows = table.findAll('tr')
for i in range(len(data_rows)):  # for each table row
    player_row = []  # create an empty list for each pick/player

    # for each table data element from each table row
    for td in data_rows[i].findAll('td'):
        
        # get the text content and append to the row 
        td_text=td.get_text().replace("\n"," ")
        td_text_two=td_text.replace("\t"," ")
        player_row.append(td_text_two)        

    # then append each 
    player_data_02.append(player_row)
jan_df = df3.iloc[0:33,:9]
jan_df = jan_df.iloc[1:-1]
jan_df['month'] = 1
jan_df.Precip = jan_df.Precip.replace({'   - ':jan_df.Precip.mode()[0]})
jan_df.Precip = jan_df.Precip.replace({' T ':0})
jan_df.Visibility = jan_df.Visibility.replace({'   - ':jan_df.Visibility.mode()[0]})
jan_df.Wind = jan_df.Wind.replace({'   - ':jan_df.Visibility.mode()[0]})

feb_df = df3.iloc[33:64,:9]
feb_df = feb_df.iloc[1:-1]
feb_df['month'] = 2
feb_df.Precip = feb_df.Precip.replace({'   - ':feb_df.Precip.mode()[0]})
feb_df.Precip = feb_df.Precip.replace({' T ':0})
feb_df.Visibility = feb_df.Visibility.replace({'   - ':feb_df.Visibility.mode()[0]})
feb_df.Wind = feb_df.Wind.replace({'   - ':feb_df.Visibility.mode()[0]})

mar_df = df3.iloc[64:97,:9]
mar_df = mar_df.iloc[1:-1]
mar_df['month'] = 3
mar_df.Precip = mar_df.Precip.replace({'   - ':mar_df.Precip.mode()[0]})
mar_df.Precip = mar_df.Precip.replace({' T ':0})
mar_df.Visibility = mar_df.Visibility.replace({'   - ':mar_df.Visibility.mode()[0]})
mar_df.Wind = mar_df.Wind.replace({'   - ':mar_df.Visibility.mode()[0]})

apr_df = df3.iloc[97:129,:9]
apr_df = apr_df.iloc[1:-1]
apr_df['month'] = 4
apr_df.Precip = apr_df.Precip.replace({'   - ':apr_df.Precip.mode()[0]})
apr_df.Precip = apr_df.Precip.replace({' T ':0})
apr_df.Visibility = apr_df.Visibility.replace({'   - ':apr_df.Visibility.mode()[0]})
apr_df.Wind = apr_df.Wind.replace({'   - ':apr_df.Visibility.mode()[0]})

may_df = df3.iloc[129:162,:9]
may_df = may_df.iloc[1:-1]
may_df['month'] = 5
may_df.Precip = may_df.Precip.replace({'   - ':may_df.Precip.mode()[0]})
may_df.Precip = may_df.Precip.replace({' T ':0})
may_df.Visibility = may_df.Visibility.replace({'   - ':may_df.Visibility.mode()[0]})
may_df.Wind = may_df.Wind.replace({'   - ':may_df.Visibility.mode()[0]})

jun_df = df3.iloc[162:194,:9]
jun_df = jun_df.iloc[1:-1]
jun_df['month'] = 6
jun_df.Precip = jun_df.Precip.replace({'   - ':jun_df.Precip.mode()[0]})
jun_df.Precip = jun_df.Precip.replace({' T ':0})
jun_df.Visibility = jun_df.Visibility.replace({'   - ':jun_df.Visibility.mode()[0]})
jun_df.Wind = jun_df.Wind.replace({'   - ':jun_df.Visibility.mode()[0]})

jul_df = df3.iloc[194:227,:9]
jul_df = jul_df.iloc[1:-1]
jul_df['month'] = 7
jul_df.Precip = jul_df.Precip.replace({'   - ':jul_df.Precip.mode()[0]})
jul_df.Precip = jul_df.Precip.replace({' T ':0})
jul_df.Visibility = jul_df.Visibility.replace({'   - ':jul_df.Visibility.mode()[0]})
jul_df.Wind = jul_df.Wind.replace({'   - ':jul_df.Visibility.mode()[0]})

aug_df = df3.iloc[227:260,:9]
aug_df = aug_df.iloc[1:-1]
aug_df['month'] = 8
aug_df.Precip = aug_df.Precip.replace({'   - ':aug_df.Precip.mode()[0]})
aug_df.Precip = aug_df.Precip.replace({' T ':0})
aug_df.Visibility = aug_df.Visibility.replace({'   - ':aug_df.Visibility.mode()[0]})
aug_df.Wind = aug_df.Wind.replace({'   - ':aug_df.Visibility.mode()[0]})

sep_df = df3.iloc[260:292,:9]
sep_df = sep_df.iloc[1:-1]
sep_df['month'] = 9
sep_df.Precip = sep_df.Precip.replace({'   - ':sep_df.Precip.mode()[0]})
sep_df.Precip = sep_df.Precip.replace({' T ':0})
sep_df.Visibility = sep_df.Visibility.replace({'   - ':sep_df.Visibility.mode()[0]})
sep_df.Wind = sep_df.Wind.replace({'   - ':sep_df.Visibility.mode()[0]})

oct_df = df3.iloc[292:324,:9]
oct_df = oct_df.iloc[1:-1]
oct_df['month'] = 10
oct_df.Precip = oct_df.Precip.replace({'   - ':oct_df.Precip.mode()[0]})
oct_df.Precip = oct_df.Precip.replace({' T ':0})
oct_df.Visibility = oct_df.Visibility.replace({'   - ':oct_df.Visibility.mode()[0]})
oct_df.Wind = oct_df.Wind.replace({'   - ':oct_df.Visibility.mode()[0]})

nov_df = df3.iloc[325:357,:9]
nov_df = nov_df.iloc[1:-1]
nov_df['month'] = 10
nov_df.Precip = nov_df.Precip.replace({'   - ':nov_df.Precip.mode()[0]})
nov_df.Precip = nov_df.Precip.replace({' T ':0})
nov_df.Visibility = nov_df.Visibility.replace({'   - ':nov_df.Visibility.mode()[0]})
nov_df.Wind = nov_df.Wind.replace({'   - ':nov_df.Visibility.mode()[0]})

dec_df = df3.iloc[357:390,:9]
dec_df = dec_df.iloc[1:-1]
dec_df['month'] = 10
dec_df.Precip = dec_df.Precip.replace({'   - ':dec_df.Precip.mode()[0]})
dec_df.Precip = dec_df.Precip.replace({' T ':0})
dec_df.Visibility = dec_df.Visibility.replace({'   - ':dec_df.Visibility.mode()[0]})
dec_df.Wind = dec_df.Wind.replace({'   - ':dec_df.Visibility.mode()[0]})

df2016 = pd.concat([jan_df, feb_df, mar_df, apr_df, may_df, jun_df, jul_df, aug_df, sep_df, oct_df], ignore_index=True)
df2016 = df2016[['month','day','Visibility','Wind','Precip']]
df2016[['month','day','Visibility','Wind']] = df2016[['month','day','Visibility','Wind']].astype(int)
df2016[['Precip']] = df2016[['Precip']].astype(float)
df2016.insert(0, 'station',"PHL")
df2016.insert(1, 'year',2016)

In [464]:
dec_df

,month,day,Temp,Dew_Point,Humidity%,Sea_Level_Press,Visibility,Wind,Precip
359,10,1,53,42,68,29.68,10,15,0.03
360,10,2,46,28,51,29.98,10,16,0.00
361,10,3,47,30,51,30.11,10,14,0.00
362,10,4,45,26,51,30.21,10,7,0.00
363,10,5,46,36,73,30.05,8,9,0.13
364,10,6,42,36,76,29.96,7,10,0.74
365,10,7,42,38,76,29.96,8,8,0.04
366,10,8,39,23,62,30.03,10,12,0.00
367,10,9,34,16,49,30.24,10,15,0.00
368,10,10,32,15,52,30.44,10,10,0
369,10,11,31,17,58,30.47,10,5,0
370,10,12,43,37,78,29.96,7,9,0.42
371,10,13,39,25,55,30.14,10,6,0.00
372,10,14,39,22,52,30.01,9,8,0
373,10,15,27,8,55,30.04,9,19,0.01
374,10,16,21,4,47,30.44,10,10,0.00
375,10,17,32,29,75,30.04,4,5,0.72
376,10,18,47,42,72,29.95,7,14,0.02
377,10,19,30,10,45,30.67,10,9,0.00
378,10,20,27,11,49,30.48,10,5,0.00
379,10,21,36,20,54,30.21,10,7,0.00
380,10,22,42,25,51,30.09,10,10,0.00
381,10,23,39,25,60,30.43,10,8,0.00
382,10,24,43,37,78,30.22,6,8,0.39
383,10,25,41,31,68,30.49,10,5,0.00
384,10,26,41,36,79,30.46,9,7,0.00
385,10,27,55,45,61,29.93,10,14,0.03
386,10,28,39,25,58,30.12,10,8,0.00
387,10,29,38,35,76,29.77,7,10,0.19
388,10,30,37,20,52,29.80,10,16,0

In [ ]:
no_invalid = mar_df[mar_df.Temp != '   - ']
no_invalid = no_invalid[no_invalid.Temp != 'None']
no_invalid = no_invalid[no_invalid.Temp != 'avg']
no_invalid.Temp.mode()[0]

In [312]:
may_df

,month,day,Temp,Dew_Point,Humidity%,Sea_Level_Press,Visibility,Wind,Precip
128,5,1,45,42,0,29.86,7,7,0.24
129,5,2,44,40,0,29.80,7,5,0.81
130,5,3,42,37,0,30.01,9,4,0.19
131,5,4,43,37,0,30.05,8,7,0.55
132,5,5,42,39,0,30.03,6,10,1.51
133,5,6,45,41,0,29.72,5,9,1.99
134,5,7,45,39,0,29.83,10,5,0.23
135,5,8,45,42,0,30.20,7,4,0.02
136,5,9,45,42,0,30.34,8,4,0.30
137,5,10,44,39,0,30.44,9,5,0.01
138,5,11,45,38,0,30.44,6,3,0.00
139,5,12,52,38,0,30.35,6,3,0.00
140,5,13,56,40,0,30.20,9,0,0.00
141,5,14,57,37,0,30.01,9,3,0.00
142,5,15,55,40,0,29.86,10,6,0.00
143,5,16,51,45,0,29.95,8,8,0.23
144,5,17,49,44,0,29.73,8,7,0.47
145,5,18,50,43,0,29.96,10,6,0.00
146,5,19,51,45,0,30.25,10,5,0.00
147,5,20,52,45,0,30.17,10,4,0
148,5,21,52,47,0,29.88,6,3,0.09
149,5,22,51,46,0,29.91,7,7,0.04
150,5,23,48,45,0,29.98,7,5,0.05
151,5,24,47,44,0,30.02,10,3,0
152,5,25,48,42,0,30.11,10,4,0.00
153,5,26,48,42,0,30.14,9,4,0.00
154,5,27,52,38,0,30.05,8,5,0.00
155,5,28,54,36,0,29.96,10,4,0.00
156,5,29,55,43,0,29.99,10,5,0.00
157,5,30,52,46,0,30.21,10,5,0.01
158,5,31,54,43,0,29.95,10,5,0
159,5,None,None,None,None,None,None,None,None
160,5,Jun,avg,avg,avg,avg,avg,avg,sum
161,5,1,52,46,0,29.66,9,6,0.03

In [317]:
may_df

,month,day,Temp,Dew_Point,Humidity%,Sea_Level_Press,Visibility,Wind,Precip
128,5,1,45,42,0,29.86,7,7,0.24
129,5,2,44,40,0,29.80,7,5,0.81
130,5,3,42,37,0,30.01,9,4,0.19
131,5,4,43,37,0,30.05,8,7,0.55
132,5,5,42,39,0,30.03,6,10,1.51
133,5,6,45,41,0,29.72,5,9,1.99
134,5,7,45,39,0,29.83,10,5,0.23
135,5,8,45,42,0,30.20,7,4,0.02
136,5,9,45,42,0,30.34,8,4,0.30
137,5,10,44,39,0,30.44,9,5,0.01
138,5,11,45,38,0,30.44,6,3,0.00
139,5,12,52,38,0,30.35,6,3,0.00
140,5,13,56,40,0,30.20,9,0,0.00
141,5,14,57,37,0,30.01,9,3,0.00
142,5,15,55,40,0,29.86,10,6,0.00
143,5,16,51,45,0,29.95,8,8,0.23
144,5,17,49,44,0,29.73,8,7,0.47
145,5,18,50,43,0,29.96,10,6,0.00
146,5,19,51,45,0,30.25,10,5,0.00
147,5,20,52,45,0,30.17,10,4,0
148,5,21,52,47,0,29.88,6,3,0.09
149,5,22,51,46,0,29.91,7,7,0.04
150,5,23,48,45,0,29.98,7,5,0.05
151,5,24,47,44,0,30.02,10,3,0
152,5,25,48,42,0,30.11,10,4,0.00
153,5,26,48,42,0,30.14,9,4,0.00
154,5,27,52,38,0,30.05,8,5,0.00
155,5,28,54,36,0,29.96,10,4,0.00
156,5,29,55,43,0,29.99,10,5,0.00
157,5,30,52,46,0,30.21,10,5,0.01
158,5,31,54,43,0,29.95,10,5,0
159,5,None,None,None,None,None,None,None,None
160,5,Jun,avg,avg,avg,avg,avg,avg,sum
161,5,1,52,46,0,29.66,9,6,0.03

In [682]:
apr_df.Temp.unique()

array([' 68 ', ' 67 ', ' 69 ', ' 70 ', ' 66 ', ' 62 ', ' 65 ', ' 63 ',
       ' 64 ', ' 59 ', ' 58 ', ' 55 ', ' 60 ', None, ' 57 '], dtype=object)

In [449]:
df2017 = pd.concat([jan_df, feb_df, mar_df, apr_df, may_df, jun_df, jul_df, aug_df, sep_df, oct_df], ignore_index=True)

In [450]:
df2017.isnull().sum()

month              0
day                0
Temp               0
Dew_Point          0
Humidity%          0
Sea_Level_Press    0
Visibility         0
Wind               0
Precip             0
dtype: int64

In [451]:
df2017.Precip.unique()

array([' 0.00 ', 0, ' 0.63 ', ' 0.16 ', ' 0.20 ', ' 0.04 ', ' 1.40 ',
       ' 0.10 ', ' 0.46 ', ' 0.01 ', ' 0.40 ', ' 0.05 ', ' 0.56 ',
       ' 0.03 ', ' 0.28 ', ' 1.91 ', ' 0.09 ', ' 0.26 ', ' 0.02 ',
       ' 0.06 ', ' 0.07 ', ' 1.02 ', ' 0.44 ', ' 0.14 ', ' 0.19 ',
       ' 0.39 ', ' 0.31 ', ' 0.11 ', ' 0.61 ', ' 0.27 ', ' 0.34 ',
       ' 1.15 ', ' 0.08 ', ' 0.12 ', ' 1.96 ', ' 0.59 ', ' 0.92 ',
       ' 0.13 ', ' 0.38 ', ' 0.29 ', ' 0.58 ', ' 1.68 ', ' 0.33 ',
       ' 0.57 ', ' 0.60 ', ' 0.47 ', ' 1.29 ', ' 0.78 ', ' 0.77 ',
       ' 0.89 ', ' 0.48 ', ' 0.22 '], dtype=object)

In [452]:
df2017[['month','day','Visibility','Wind']].astype(int)

     month  day  Visibility  Wind
0        1    1          10    12
1        1    2          10     7
2        1    3          10     9
3        1    4          10    16
4        1    5          10     9
5        1    6          10     5
6        1    7          10     1
7        1    8          10     6
8        1    9           7     8
9        1   10           7    17
10       1   11          10    13
11       1   12           9    13
12       1   13          10    16
13       1   14          10     9
14       1   15           9     4
15       1   16           8    12
16       1   17           7     8
17       1   18          10    19
18       1   19          10    18
19       1   20          10     9
20       1   21          10    10
21       1   22           6    10
22       1   23           2    25
23       1   24          10    10
24       1   25          10     2
25       1   26          10     6
26       1   27          10    10
27       1   28          10     4
28       1   29           9    10
29       1   30          10     8
..     ...  ...         ...   ...
274     10    1           7    11
275     10    2           5     5
276     10    3           6     5
277     10    4           9     8
278     10    5          10     9
279     10    6          10     4
280     10    7          10     6
281     10    8           8     5
282     10    9           8    17
283     10   10          10    13
284     10   11          10     5
285     10   12          10     2
286     10   13           8     6
287     10   14          10     6
288     10   15          10     4
289     10   16           6     6
290     10   17           5     6
291     10   18           9     7
292     10   19          10     7
293     10   20          10     8
294     10   21           9    10
295     10   22          10    17
296     10   23          10    14
297     10   24          10    12
298     10   25          10    12
299     10   26          10     7
300     10   27           8    10
301     10   28          10    12
302     10   29          10     8
303     10   30           9    10

[304 rows x 4 columns]